absl-py
altair
argon2-cffi
argon2-cffi-bindings
astor
astunparse
attrs
backcall
backports.zoneinfo
base58
bleach
blinker
cached-property
cachetools
certifi
cffi
charset-normalizer
click
colorama
debugpy
decorator
defusedxml
entrypoints
filelock
flatbuffers
gast
gitdb
GitPython
google-auth
google-auth-oauthlib
google-pasta
grpcio
gunicorn
h5py
huggingface-hub
idna
importlib-metadata
importlib-resources
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
keras
Keras-Preprocessing
libclang
Markdown
MarkupSafe
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
oauthlib
opt-einsum
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
protobuf
pyarrow
pyasn1
pyasn1-modules
pycparser
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
pywin32==none
pywinpty
PyYAML
pyzmq
requests
requests-oauthlib
rsa
semver
Send2Trash
six
smmap
streamlit
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
terminado
testpath
tf-estimator-nightly
toml
toolz
tornado
tqdm
traitlets
typing-extensions
tzdata
tzlocal
urllib3
validators
watchdog
wcwidth
webencodings
Werkzeug
widgetsnbextension
wrapt
zipp
